@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>
<p>Learn about <fluent-anchor appearance="hypertext" href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</fluent-anchor>.</p>
